<!--contacto.component.html-->

<app-header></app-header>
<div class="formulario-contacto">
    <h2 class="titulo-formulario">Contáctenos</h2>
    <form>
        <div class="form-group">
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
            <input type="text" id="apellido" name="apellido" placeholder="Apellido" required>
        </div>
        <div class="form-group">
            <input type="email" id="email" name="email" placeholder="Email*" required>
        </div>
        <div class="form-group">
            <textarea id="mensaje" name="mensaje" placeholder="Tu mensaje" rows="4" required></textarea>
        </div>
        <button type="submit">Enviar Mensaje</button>
    </form>
</div>
<app-footer></app-footer>