<app-header></app-header>
<div class="dropdown-sectores">
    <div class="dropdown">
      <label for="tipoCarnet">Tipo de Carnet:</label>
      <select id="tipoCarnet" (change)="onCarnetChange($event)">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="A1-A2">A1-A2</option>
        <option value="AM">AM</option>
      </select>
    </div>
  
    <div class="dropdown">
      <label for="tipoInformacion">Tipo de Información:</label>
      <select id="tipoInformacion" (change)="onInfoChange($event)">
        <option value="todosTest">Todos los test</option>
        <option value="testPorTemas">Test por temas</option>
        <option value="testExamenDGT">Test de examen DGT</option>
        <option value="simulacrosExamen">Simulacros de examen</option>
      </select>
    </div>
</div>
<div class="temario-videos">
  <h2>Temario en vídeo</h2>
  <p>Accede a todo el contenido teórico de la DGT para el examen de conducir. Encuentra todos los vídeos que necesitas, libros digitales, esquemas y resúmenes. 100% enfocado para aprobar a la primera.</p>
</div>
<div class="swiper-container temario-swiper">
    <div class="swiper-slide">
      <div class="card">
        <img src="/assets/fotoPractica.jpg" alt="Imagen del tema" />
        <div class="card-content">
          <h3>1.1 Clasificación de los vehículos</h3>
          <p>Tema 1: Definiciones y la utilización de la vía</p>
          <button>Estudiar</button>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card">
        <img src="/assets/fotoPractica.jpg" alt="Imagen del tema" />
        <div class="card-content">
          <h3>TUPU</h3>
          <p>Tema 1: Definiciones y la utilización de la vía</p>
          <button>Estudiar</button>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card">
        <img src="/assets/fotoPractica.jpg" alt="Imagen del tema" />
        <div class="card-content">
          <h3>SUPU</h3>
          <p>Tema 1: Definiciones y la utilización de la vía</p>
          <button>Estudiar</button>
        </div>
      </div>
    </div>
</div>
  <div class="temario-videos">
    <div class="tema-section">
        <h1>Tema 1: Definiciones y la utilización de la vía</h1>
        <div class="tema-grid">
          <!-- Repite esta estructura para cada test -->
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 001</h2>
            <span>¡Contenido gratuito!</span>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 002</h2>
            <span>¡Contenido gratuito!</span>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 003</h2>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 004</h2>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 005</h2>
            <span>¡Contenido gratuito!</span>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 006</h2>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 007</h2>
            <span>¡Contenido gratuito!</span>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 008</h2>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 009</h2>
            <span>¡Contenido gratuito!</span>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 010</h2>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 011</h2>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 012</h2>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 013</h2>
            <span>¡Contenido gratuito!</span>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 014</h2>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 015</h2>
            <span>¡Contenido gratuito!</span>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 016</h2>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 017</h2>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 018</h2>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 019</h2>
            <!-- Más información si es necesario -->
          </div>
          <div class="tema-card">
            <h2>Test Tema 1 <br> Nº: 020</h2>
            <span>¡Contenido gratuito!</span>
            <!-- Más información si es necesario -->
          </div>
        </div>
      </div>
  </div>
  <footer>
    <div class="footer-columns">
      <div class="footer-column">
        <img src="/assets/Logotipo-preview.png" alt="Logotipo de la Autoescuela" />
      </div>
      <div class="footer-column">
        <h3>Secciones</h3>
        <ul>
          <li><a href="/inicio">Inicio</a></li>
          <li><a href="/teoria">Teoría</a></li>
          <li><a href="/practica">Práctica</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Legal</h3>
        <ul>
          <li><a href="/privacidad">Política de Privacidad</a></li>
          <li><a href="/terminos">Términos de Servicio</a></li>
          <li><a href="/cookies">Política de Cookies</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Síguenos</h3>
        <a href="https://www.facebook.com" class="social-icon">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://twitter.com" class="social-icon">
          <i class="fab fa-twitter-square"></i>
        </a>
        <a href="https://www.instagram.com" class="social-icon">
          <i class="fab fa-instagram-square"></i>
        </a>
        <a href="https://es.linkedin.com" class="social-icon">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>    
    </div>
    <p class="footer-copy">&copy; 2023 AutoEduca<br> Todos los derechos reservados.</p>
  </footer>