<!-- inicio.component.html -->

<app-header></app-header>

<div class="banner-principal">
    <img src="assets/banner1.jpg" alt="Banner de la Autoescuela">
    <div class="texto-banner">
        <h1>Aprende a conducir con nosotros</h1>
        <button>Inscríbete Ahora</button>
        <p>Encuentra todos los trucos y consejos<br>para obtener el carnet de conducir<br>con más de 2000 vídeos explicativos</p>
    </div>
</div>

<div class="seccion-doble">
    <div class="teoria">
        <h2>La Teoría</h2>
        <ul>
            <li>Con todo el temario explicado en 350 vídeos.</li>
            <li>Con más de 3.500 vídeos explicando trucos y consejos.</li>
            <li>Con las 630 preguntas de examen de la DGT más importantes.</li>
        </ul>
        <button>Curso Teórico Online</button>
    </div>
    <div class="practica">
        <h2>La Práctica</h2>
        <ul>
            <li>Con los vídeos de los Recorridos en las Zonas de Examen.</li>
            <li>Con todas las maniobras y faltas de examen de la DGT.</li>
            <li>Gana confianza y seguridad ahorrando tiempo en tus prácticas.</li>
        </ul>
        <button>Curso Práctico Online</button>
    </div>
</div>

<div class="opiniones">
    <div class="opinion">
        <p>"Gracias a Autoescuela Online pasé mi examen teórico sin problemas."</p>
        <p>- Carlos Gutiérrez</p>
    </div>
    <!-- Agregar más opiniones aquí -->
</div>

<div class="por-que-nosotros">
    <h2>¿Por qué elegirnos?</h2>
    <p>Ofrecemos una metodología de enseñanza moderna y efectiva, diseñada para que obtengas tu licencia de conducir de manera rápida y segura. Nuestros cursos están actualizados con las últimas normativas de tránsito y utilizamos tecnología de punta para proporcionar simulaciones realistas y un aprendizaje interactivo. Nuestro equipo de instructores certificados está comprometido con tu éxito y proporcionará orientación personalizada en cada paso del camino.</p>
    <button (click)="navigateToContacto()">Contacto</button>  
</div>
<app-footer></app-footer>