header {
    background-color: #20505e; /* Verde característico */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
  }
  
  header img {
    height: 80px; /* Ajustar según el tamaño del logo */
    cursor: pointer;
  }
  
  header nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
  }
  header nav a i {
    font-size: 1.5em; /* Ajusta el tamaño del ícono */
} 
  header nav a:hover {
    background-color: #0b2938; /* Un tono más oscuro al pasar el mouse */
  }
  .menu-button {
    display: none; /* Ocultar por defecto */
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  //Estilos del modal
/* Estilos para el fondo del modal */
.login-modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Posicionamiento fijo en la pantalla */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Fondo semitransparente */
}

.login-modal.show {
  display: flex; /* Usamos flexbox para centrar el modal-content */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}

/* Estilos para el contenido del modal */
.modal-content h2{
  color: #0b2938;
}
.modal-content {
  background-color: #fefefe;
  margin: auto; /* Centra el modal en pantallas con mucho espacio vertical */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Ancho del modal */
  max-width: 800px; /* Establece un ancho máximo si es necesario */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-height: 80vh; /* Ajusta esto para controlar la altura máxima del modal */
  overflow-y: auto; /* Permite desplazamiento vertical si el contenido es demasiado alto */
  display: flex; /* Establece el modal como un contenedor flex */
  flex-direction: column; /* Organiza los hijos en una columna */
  align-items: center; /* Centra los hijos horizontalmente */
  justify-content: center; /* Centra los hijos verticalmente */
  position: relative;
}

/* Estilos para cada grupo de campos del formulario */
.modal-content .form-group {
  width: 100%; /* Ocupa todo el ancho del modal */
  display: flex; /* Alinea los elementos en columna */
  flex-direction: column; /* Organiza los elementos en columna */
  align-items: center; /* Centra los elementos */
  margin-bottom: 20px; /* Espacio entre los grupos de formulario */
}

/* Estilos para los campos de entrada y el área de texto */
.modal-content input,
.modal-content textarea {
  width: 90%; /* Ajusta el ancho según prefieras */
  padding: 10px; /* Espacio interno para el texto */
  margin-top: 10px; /* Espacio entre cada campo de entrada */
  border-radius: 5px; /* Bordes redondeados para los campos de entrada y botones */
  border: 1px solid #ccc; /* Borde para los campos de entrada y botones */
}

/* Estilos para el área de texto, más grande que los campos de entrada */
.modal-content textarea {
  height: 120px; /* Ajusta la altura según necesites */
}

/* Estilos para los botones */
.modal-content button {
  padding: 10px 20px;
  margin: 5px !important; /* Espacio encima del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #81bfbc; /* Color de fondo para el botón */
  color: white; /* Color de texto para el botón */
  width: auto; /* Permite que el tamaño del botón se ajuste al contenido */
}
.modal-content button:hover {
  background-color: #0b2938;
}

/* Estilos para el botón de cerrar */
.modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Ajusta el espaciado y la posición de los botones 'Entrar' y 'Registrarse' */
.modal-content form button {
  margin: 0 10px; /* Espacio a los lados del botón */
}